controller_manager:
  ros__parameters:
    update_rate: 100 # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    wheel_controller:
      type: velocity_controllers/JointGroupVelocityController

    position_controller:
      type: position_controllers/JointGroupPositionController

joint_state_broadcaster:
  ros__parameters:
    joints:
      - j1
      - j2
      - j3
      - j4
      - j5
      - j6
      - j7
      - j8
      - j9

wheel_controller:
  ros__parameters:
    joints:
      - j6 # Left rear wheel
      - j7 # Left front wheel
      - j8 # Right rear wheel
      - j9 # Right front wheel
    command_interfaces:
      - velocity
    state_interfaces:
      - position
      - velocity

position_controller:
  ros__parameters:
    joints:
      - j1 # Seat rotation
      - j2 # Right arm
      - j3 # Left arm
      - j4 # Right footrest
      - j5 # Left footrest
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
